Header {
  display: flex;
  position: fixed;
  height: 69px;
  border-bottom: 1px solid Seashell;
  width: 100%;
  align-items: center;
  z-index: 1;
  background-color: black;
}

a {
  color: seashell;
  padding: 10px;
  text-decoration: underline;
}

body {
  font-family: Helvetica;
  font-size: 22px;
  color: seashell;
  background-color: black;
  opacity: 0.9;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

nav {
  display: inline-block;

  padding-right: 14px;
}

.logo {
  display: flex;
  padding-left: 10px;
  height: 50px;
  width: auto;
  flex-grow: 1;
}

.mission {
  background-image: url(https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-mission-background.jpg);
  width: 1200px;
  height: 700px;
  display: flex;
  flex-direction: column;
  justify-content:center;
  margin: auto;
  margin-top: 70px;
}

.missiontext {
  background-color: black;
  opacity: 0.9px;
}

.teaofmonth {
  display:flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  width: 1000px;
  height: 500px;
  background-color: black;
  margin:auto;
}


.teaofmonth img {
  height: 200px;
  width: 300px;
  padding: 10px;
}

.largelocations {
  margin-top: 50px;
  background-image: url(https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-locations-background.jpg);
  height: 500px;
  width: 1200px;
}
.locations {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.blackbox {
  background-color: black;
  width: 300px;
  padding: 15px 10px 0px 10px;
  opacity: 1.0;
}

.contact {
  height: 200px;
  margin-top: 50px;
}

.footer {
  padding-right: 980px;
}
